<a href="#" class="main__tab-status-action create-order">
    <div class="main__tab-status-action-img-box">
        <img class="main__tab-status-action-img" src="./assets/images/icons/plus.svg" alt="" />
    </div>
    <p class="main__tab-status-action-text">Создать заказ</p>
</a>

<a href="#" class="main__tab-status-action edit">
    <div class="main__tab-status-action-img-box">
        <img class="main__tab-status-action-img" src="./assets/images/icons/pencil.svg" alt="" />
    </div>
    <p class="main__tab-status-action-text">Редактировать</p>
</a>

<a href="#" class="main__tab-status-action processing">
    <div class="main__tab-status-action-img-box">
        <img class="main__tab-status-action-img" src="./assets/images/icons/check.svg" alt="" />
    </div>
    <p class="main__tab-status-action-text">В обработку</p>
</a>

<a href="#" class="main__tab-status-action delivery">
    <div class="main__tab-status-action-img-box">
        <img class="main__tab-status-action-img" src="./assets/images/icons/box.svg" alt="" />
    </div>

    <p class="main__tab-status-action-text">В доставку</p>
</a>

<a href="#" class="main__tab-status-action add-track">
    <div class="main__tab-status-action-img-box">
        <img class="main__tab-status-action-img" src="./assets/images/icons/plus.svg" alt="" />
    </div>
    <p class="main__tab-status-action-text">Добавить трек</p>
</a>
<a href="#" class="main__tab-status-action track">
    <p class="main__tab-status-action-text">Отследить</p>
    <div class="main__tab-status-action-img-box">
        <img class="main__tab-status-action-img" src="./assets/images/icons/arrow.svg" alt="" />
    </div>
</a>
<a href="#" class="main__tab-status-action feedback">
    <p class="main__tab-status-action-text">Оставить отзыв</p>
</a>
