<div class="filter__modal-wrapper">
    <div class="filter__modal-box">
        <div class="filter__modal-control-box">
            <button class="filter__modal-reset">Сбросить</button>
            <button class="filter__modal-close-box">
                <img src="./assets/images/icons/modal-close.svg" alt="" class="filter__moda-close-img" />
            </button>
        </div>
        <ul class="filter__modal">
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-price-request">Запрос цены</span>
                </label>
            </li>

            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-feedback-awaited">Ожидает оплаты</span>
                </label>
            </li>

            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-paid">Оплачен</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-processing ">В обработке</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-deliver-for-delivery">Передаем в доставку</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-delivery-service">В службе доставки</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-delivered ">Доставлен</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-not-delivered">Не доставлен</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-returning">Возврат заказа</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-feedback-awaited">Ожидается отзыв</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-product-replacement">Обмен</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-complete">Завершен</span>
                </label>
            </li>
            <li class="filter__modal-option-box">
                <label class="filter__modal-option-label">
                    <input class="filter__modal-option-input" type="checkbox" />
                    <span class="filter__modal-option-status status-point status-cancel">Отменен</span>
                </label>
            </li>


        </ul>
    </div>
</div>
