<div class="pagination">
    <div class="container pagination__container">
        <div class="pagination__inner">
            <div class="pagination__pagination">
                <ul class="pagination__pagination-list"></ul>
            </div>
            <div class="pagination__order-counter-box">
                <div class="pagination__order-control">
                    <p class="pagination__order-control-text">На странице</p>
                    <div class="pagination__order-dropdown">

                        <div class="pagination__order-dropdown-header-box">
                            <p class="pagination__order-dropdown-header-text">10</p>
                            <div class="pagination__order-dropdown-svg-box">
                                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.1668 6L8.50016 10L3.8335 6"
                                        stroke="#121212"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="pagination__order-dropdown-list-box">
                            <ul class="pagination__order-dropdown-list">
                                <li class="pagination__order-dropdown-item">
                                    <label>
                                        <input type="radio" name="order" />
                                        10
                                    </label>
                                </li>
                                <li class="pagination__order-dropdown-item">
                                    <label>
                                        <input type="radio" name="order" />
                                        25
                                    </label>
                                </li>
                                <li class="pagination__order-dropdown-item">
                                    <label>
                                        <input type="radio" name="order" />
                                        50
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="pagination__order-control-text">заказов</p>
                </div>
            </div>
        </div>
    </div>
</div>
